Repository rxmario/h1-admin-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: commands, events, jobs, config-files, dependencies

error handling
  src/commands/chat/whitelist/whitelist-command.ts
Labels: commands

add auto deny wl for dc leavers job
  config/config.default.json
  src/commands/chat/whitelist/whitelist-command.ts
  src/commands/chat/whitelist/whitelistmanager.ts
  src/extensions/custom-client.ts
  src/jobs/whitelist-deny-leavers-job.ts
  src/start-manager.ts
Labels: commands, jobs, config-files

rename job, add correct schedule
  src/jobs/whitelist-deny-leavers-job.ts
Labels: jobs

.
  src/commands/chat/update-roles/update-roles.ts
  src/commands/chat/whitelist/whitelistmanager.ts
  src/extensions/custom-client.ts
  src/jobs/whitelist-deny-leavers-job.ts
Labels: commands, jobs

debug
  src/commands/chat/update-roles/update-roles.ts
Labels: commands

.
  src/commands/chat/update-roles/update-roles.ts
Labels: commands

.
  src/commands/chat/update-roles/update-roles.ts
Labels: commands

deny
  src/commands/chat/update-roles/update-roles.ts
Labels: commands

fix get leavers
  src/commands/chat/whitelist/whitelistmanager.ts
  src/extensions/custom-client.ts
Labels: commands

we done
  src/extensions/custom-client.ts
Labels: none

prettier
  src/commands/chat/update-roles/update-roles.ts
  src/commands/chat/whitelist/whitelistmanager.ts
  src/extensions/custom-client.ts
  src/start-manager.ts
Labels: commands

readme
  README.md
Labels: none

add check if whitelist is already denied
  src/extensions/custom-client.ts
Labels: none

add missing return
  src/extensions/custom-client.ts
Labels: none

prettier
  src/extensions/custom-client.ts
Labels: none

Show manage embed if user to add is already whitelisted
  src/commands/chat/check/check.command.ts
  src/commands/chat/kd/kd-command.ts
  src/commands/chat/whitelist/whitelist-command.ts
  src/commands/chat/whitelist/whitelist-model.ts
  src/commands/chat/whitelist/whitelistmanager.ts
  src/utils/regex-utils.ts
Labels: commands

rename zoneId
  src/commands/chat/whitelist/whitelist-command.ts
  src/commands/chat/whitelist/whitelist-model.ts
  src/commands/chat/whitelist/whitelistmanager.ts
Labels: commands

fix build error
  src/commands/chat/kd/kd-command.ts
Labels: commands

change txt
  src/commands/chat/whitelist/whitelist-command.ts
Labels: commands

emoji
  src/commands/chat/whitelist/whitelist-command.ts
Labels: commands

.
  src/commands/chat/whitelist/whitelist-command.ts
Labels: commands

.
  src/commands/chat/whitelist/whitelist-command.ts
  src/commands/chat/whitelist/whitelistmanager.ts
Labels: commands

msg, prettier
  src/commands/chat/whitelist/whitelist-command.ts
  src/commands/chat/whitelist/whitelistmanager.ts
Labels: commands

rm old ducktape code
  src/commands/chat/update-roles/update-roles.ts
Labels: commands

rm console.log
  src/commands/chat/update-roles/update-roles.ts
Labels: commands

.github/labeler.yml:

commands:
    - src/commands/**/*

events:
    - src/events/**/*

jobs:
    - src/jobs/**/*

config-files:
    - .swc/**/*
    - .devcontainer/**/*
    - .github/**/*
    - .npmignore
    - .swcrc
    - tsconfig.json
    - tsconfigs/**/*
    - config/*

dependencies:
    - package-lock.json
    - package.json
