Repository rxmario/h1-admin-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: commands, events, jobs, config-files, dependencies

chore: change process name
  process.json
Labels: none

chore: readme
  README.md
Labels: none

re-add ipc stuff
  src/ipc/netserver.ts
  src/ipc/zoneServerCommunication.ts
Labels: none

readme
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

add function to find leaderboard channel
  lang/lang.de.json
  lang/lang.en-GB.json
  lang/lang.en-US.json
  src/utils/client-utils.ts
Labels: none

implement leaderboard job
  README.md
  src/jobs/leaderboard.job.ts
  src/start-manager.ts
Labels: jobs

imports
  src/jobs/leaderboard.job.ts
Labels: jobs

remove imports
  src/jobs/index.ts
  src/jobs/leaderboard.job.ts
  src/start-manager.ts
Labels: jobs

require
  src/jobs/leaderboard.job.ts
Labels: jobs

.
  src/jobs/leaderboard.job.ts
Labels: jobs

outsource leaderboard stuff into CustomClient
  src/extensions/custom-client.ts
  src/jobs/leaderboard.job.ts
Labels: jobs

fix build error
  src/jobs/leaderboard.job.ts
Labels: jobs

update as embed, use guildId from config
  src/extensions/custom-client.ts
Labels: none

add log
  src/extensions/custom-client.ts
Labels: none

fix config import
  src/extensions/custom-client.ts
Labels: none

prettier
  src/extensions/custom-client.ts
  src/jobs/index.ts
  src/jobs/leaderboard.job.ts
Labels: jobs

rm leaderboard cmd
  src/commands/metadata.ts
  src/extensions/custom-client.ts
  src/start-bot.ts
Labels: commands

fix build error
  src/extensions/custom-client.ts
Labels: none

readme
  README.md
Labels: none

introduce leaderboard service, make leaderboard configurable
  config/config.default.json
  src/database.ts
  src/extensions/custom-client.ts
  src/services/leaderboard-service.ts
Labels: config-files

add leaderboard job to jobs if enabled in config
  src/start-manager.ts
Labels: none

rm unused files
  src/commands/chat/leaderboard/leaderboard-command.ts
Labels: commands

fix build error
  src/commands/chat/index.ts
  src/start-bot.ts
  src/start-manager.ts
Labels: commands

readme
  README.md
Labels: none

rm moonshine guild id from default config
  config/config.default.json
Labels: config-files

add update leaderboard configuration to default config
  config/config.default.json
Labels: config-files

add types, add shared key auth
  src/ipc/netserver.ts
  src/ipc/zoneServerCommunication.ts
Labels: none

cleanup whitelist embeds, add mentions
  src/commands/chat/spy/spy.ts
  src/commands/chat/whitelist/whitelist-command.ts
Labels: commands

add emojis experimental
  src/commands/chat/whitelist/whitelist-command.ts
Labels: commands

use custom emoji
  src/commands/chat/whitelist/whitelist-command.ts
Labels: commands

fix build error
  src/commands/chat/whitelist/whitelist-command.ts
Labels: commands

bruh
  src/commands/chat/whitelist/whitelist-command.ts
Labels: commands

use find instead of get emoji
  src/commands/chat/whitelist/whitelist-command.ts
Labels: commands

add emoji intent
  config/config.default.json
Labels: config-files

fix emoji
  src/commands/chat/whitelist/whitelist-command.ts
Labels: commands

ZoneClientId > ZoneId
  src/commands/chat/whitelist/whitelist-command.ts
Labels: commands

mention on add
  src/commands/chat/whitelist/whitelist-command.ts
Labels: commands

prettier
  src/commands/chat/whitelist/whitelist-command.ts
Labels: commands

.github/labeler.yml:

commands:
    - src/commands/**/*

events:
    - src/events/**/*

jobs:
    - src/jobs/**/*

config-files:
    - .swc/**/*
    - .devcontainer/**/*
    - .github/**/*
    - .npmignore
    - .swcrc
    - tsconfig.json
    - tsconfigs/**/*
    - config/*

dependencies:
    - package-lock.json
    - package.json
